@page
@model estore.MicroFrontEnd.Products.Areas.Admin.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@if (Model?.Products?.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].SortCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        <img src="@item.ImageName" height="90" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SortCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no products to display</p>
}
